.footer__clear {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.08);
}

.footer__clear,
.footer__clear button {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--clr-neutral-lightTheme-3);
}

.footer__filtering {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  margin-top: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0rem 2rem 3rem 0 rgba(0, 0, 0, 0.08);
}

.footer__filtering button {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--clr-neutral-lightTheme-3);
}

.footer__clear,
.footer__filtering {
  padding: 1.8rem 1.6rem;
  background-color: var(--clr-neutral-lightTheme-0);
}

.footer__filtering .activeBtn {
  color: var(--clr-primary-brightBlue);
}

@media only screen and (min-width: 1440px) {
  .footer {
    position: relative;
    max-width: 45rem;
    margin: 0 auto;
  }

  .footer__filtering {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-60%);
    margin-top: 0;
    box-shadow: none;
  }
}
