@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /* primary color */
  --clr-primary-brightBlue: hsl(220, 98%, 61%);

  /* neutral color, light theme */
  --clr-neutral-lightTheme-0: hsl(0, 0%, 98%);
  --clr-neutral-lightTheme-1: hsl(236, 33%, 92%);
  --clr-neutral-lightTheme-2: hsl(233, 11%, 84%);
  --clr-neutral-lightTheme-3: hsl(236, 9%, 61%);
  --clr-neutral-lightTheme-4: hsl(235, 19%, 35%);

  /* neutral color, dark theme */
  --clr-neutral-darkTheme-0: hsl(235, 21%, 11%);
  --clr-neutral-darkTheme-1: hsl(235, 24%, 19%);
  --clr-neutral-darkTheme-2: hsl(237, 14%, 26%);
  --clr-neutral-darkTheme-3: hsl(233, 14%, 35%);
  --clr-neutral-darkTheme-4: hsl(234, 11%, 52%);
  --clr-neutral-darkTheme-5: hsl(234, 39%, 85%);

  --clr-neutral-hover: hsl(236, 33%, 92%);

  /* gradient */
  --clr-gradient-checkBackground: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* font family */
  --ff-base: "Josefin Sans", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-base);
  background: url(./assets/images/bg-mobile-light.jpg) no-repeat top;
  background-color: var(--clr-neutral-lightTheme-0);
  padding: 4.8rem 2.6rem;

  max-width: 37.5rem;
  margin: 0 auto;
}

/* General */

button {
  font-family: inherit;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus-visible {
  outline: 0.2rem solid var(--clr-neutral-lightTheme-4);
  outline-offset: 0.25rem;
  border-radius: 0.25rem;
}

input {
  outline: none;
  border: none;
}

input:focus {
  outline: 0.1rem solid var(--clr-neutral-lightTheme-1);
  outline-offset: 0.5rem;
  border-radius: 0.1rem;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 50%;
  border: 0.1rem solid var(--clr-neutral-lightTheme-2);
}

input[type="radio"]:checked:focus,
input[type="radio"]:not(:checked):focus {
  outline: none;
}

input[type="radio"]:checked {
  background-image: url(/src/assets/icons/icon-check.svg),
    var(--clr-gradient-checkBackground);
  background-repeat: no-repeat;
  background-position: center;
}

input[type="radio"]:checked + p {
  position: relative;
  color: var(--clr-neutral-lightTheme-2);
}

input[type="radio"]:checked + p::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  height: 0.01rem;
  transform: translate(0, -50%);
  background-color: var(--clr-neutral-lightTheme-3);
}

ul {
  list-style: none;
}

@media only screen and (min-width: 1440px) {
  body {
    max-width: 144rem;
    background-image: url(/src/assets/images/bg-desktop-light.jpg);
    padding-top: 8rem;
  }
}
